main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1*/
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: #333;
    padding: 1rem;
}

nav a {
    color: white;
    padding: 0.5rem 1rem;
    display: block;
}

hi {
    color: 2c 3em 50px;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}